PROJECT_NAME=qulpunoy
JWT_SECRET=some_secret_key_3$^b*@%
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=10080 # 7 days
SERVER_PORT=8080

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=voidpostgres
DB_NAME=qulpunoy_db
DB_SSLMODE=disable

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=